<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Home - Shopme Admin</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div>
        <h2>Manage Users</h2>
    </div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>[[${user.id}]]</td>
                    <td></td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <td>
                        Edit &nbsp; Delete
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>
</div>

<script src="webjars/jquery/3.4.1/jquery.min.js" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
